nb-card {
  margin-bottom: 1rem; /* Space below the card */
}

nb-card-header {
  display: flex;
  justify-content: space-between; /* Distribute space between items */
  align-items: center; /* Center items vertically */
  padding: 1rem;
  background-color: #f7f9fc; /* Light background color */
  border-bottom: 1px solid #ebeef3; /* Subtle border for separation */
}

.header-title {
  flex: 1; /* Allow title to use available space */
}

.search-export-create {
  display: flex;
  align-items: center;
  gap: 1rem; /* Ensure there's space between input and buttons */
}

.search-export-create nb-input {
  flex: 1;
  max-width: none; /* Remove max-width to ensure visibility */
}

.button-group {
  display: flex;
  gap: 1rem; /* Space between buttons */
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem; /* Margin above the table */
}

.user-table th,
.user-table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.user-table th {
  font-weight: bold;
  background-color: #f5f5f5; /* Light background for table headers */
  position: relative;
}

.user-table th {
  cursor: pointer;
}

.user-table th nb-icon {
  margin-left: 5px; /* Adjust as needed to provide spacing */
  font-size: 16px; /* Adjust as needed */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.user-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Alternating row colors */
}

.user-table tr:hover {
  background-color: #e6e6e6; /* Highlight row on hover */
}

.user-table .actions {
  white-space: nowrap; /* Prevent buttons from wrapping */
}

.user-table .actions button {
  margin-right: 0.5rem; /* Space between action buttons */
}

button[nbButton] {
  text-transform: uppercase; /* Uppercase text for buttons */
  font-weight: bold; /* Bold text for buttons */
}

.text-center {
  text-align: center;
}

.text-muted {
  color: #6c757d;
}

.app-pagination {
  margin-top: 2rem; /* Add space above pagination */
}