<div class="smart-table">
    <div class="table-controls">
      <div class="search-container">
        <input nbInput type="text" placeholder="Search..." (input)="onSearch($event)">
      </div>
      <div class="entries-per-page">
        <label>Show entries: </label>
        <nb-select [selected]="itemsPerPage" (selectedChange)="onItemsPerPageChange($event)">
          <nb-option [value]="10">10</nb-option>
          <nb-option [value]="25">25</nb-option>
          <nb-option [value]="50">50</nb-option>
          <nb-option [value]="100">100</nb-option>
        </nb-select>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th *ngFor="let column of columns" (click)="onSort(column.key)">
            {{ column.title }}
            <nb-icon *ngIf="sortColumn === column.key" [icon]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></nb-icon>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of paginatedData">
          <td *ngFor="let column of columns">{{ row[column.key] }}</td>
          <td class="actions">
            <button nbButton ghost (click)="onUpdate(row)">
              <nb-icon icon="edit-outline"></nb-icon>
            </button>
            <button nbButton ghost status="danger" (click)="onDelete(row)">
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="pagination">
      <button nbButton ghost [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">
        <nb-icon icon="arrow-left"></nb-icon>
      </button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button nbButton ghost [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)">
        <nb-icon icon="arrow-right"></nb-icon>
      </button>
    </div>
  </div>